@import "tailwindcss";

@theme{
  --blue-color : #2B3674;
  --light-blue-color : #6AD2FF;
  --dark-blue-color : #4318FF;
}

*{
  box-sizing: border-box;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}